body {
	margin: 0;
	padding: 0;
	background: #353535;
	color: white;
	font-family: "Roboto", sans-serif;
}

.task-create {
	position: fixed;
	height: 15px;
	top:0;
	bottom:0;
	margin:auto 0;
	right:10px;
	background: #1c2029;
	border-radius: 3px;
	padding: 5px 0;
	width: fit-content;
	height: fit-content;
	width:290px;
	min-width: 210px;
	visibility: visible ;
	opacity: 1 ;
}

.task-create form {
	width: 90%;
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.task-create,
.task-create form div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.task-create form div {
	align-items: start;
}

.task-create form input,
.task-create form textarea,
.task-create form div select {
	padding-top: 8px;
	width: 95%;
	font-size: 14px;
	border: none;
	border-bottom: 1px solid #ffffff;
	background: none;
	color: white;
	outline: 0;
}

.task-create form div select option {
	color: black;
}

.task-create form textarea {
	background: #fff;
	color: black;
	height: 90px;
	resize: none;
}

.task-create form div button {
	width: 200px;
	height: 40px;
	background: #196cad;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	color: white;
	font-weight: 600;
	transition: all 0.3s ease;
	cursor: pointer;
}

.task-create form div button:hover {
	background: #115a96;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

.tasks {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

.tasks-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
}

.task {
	margin: 20px 25px;
	width: 100%;
	max-width: 235px;
	min-width: 180px;
	height: fit-content;
	background: #1c5986;
	padding: 2px 12px;
	border-radius: 8px;
}

.task h3 {
	margin-top: 0;
}

.task-before {
	visibility: collapse;
	opacity: 0;
	transition: all 0.3s ease;
}

.task-footer,
.task-footer div {
	display: flex;
}

.task-footer {
	justify-content: space-around;
}

.task-footer div {
	align-items: center;
}

.options {
	display: flex;
	justify-content: flex-end;
}

.options i {
	margin: 10px;
	font-size: 18px;
	cursor: pointer;
}

.fa-plus {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 25px;
	background: #109c23;
	padding: 8px;
	border-radius: 100%;
	z-index: 0;
	cursor: pointer;
}

.fa-times-circle {
	display: none;
	position: absolute;
	right: 10px;
	font-size: 25px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.tasks {
		width: 100%;
	}

	.task-create {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: fit-content;
		width: 90%;
		max-width: 290px;
		margin: auto;
		font-size: 14px;
		visibility: hidden ;
		opacity: 0 ;
	}

	.task-create form{
		height: 330px;
	}

	.task-create h2 {
		margin-top: 30px;
	}

	.task-before {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #000000a1;
		visibility: hidden;
		opacity: 0;
	}

	.task {
		min-width: 145px;
	}

	.task-footer {
		flex-flow: wrap;
	}

	.fa-plus {
		display: block;
	}

	.fa-times-circle {
		display: block;
	}
}